# Dependencias
node_modules/
frontend/node_modules/

# Archivos de distribución
dist/
build/
frontend/build/

# Variables de entorno
.env
.env.local
frontend/.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Archivos temporales
*.tmp
*.temp
temp/

# IDE
.vscode/
.idea/
*.swp
*.swo

# AWS
.aws-sam/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Archivos ZIP de Lambda
*.zip
